body {
    margin-top: 50px;
    background-color: rgb(42, 72, 131);
}
html {
    scroll-behavior: smooth;
    font-family: consolas;
}
img {
    max-width: 100%;
    max-height: 100%;
}

.main_content {
    display: block;
    word-wrap: break-word;
    background-color: #fff4a2;
    position: absolute;
    left: 20%;
    right: 20%;
    z-index: 1;
}
.content {
    text-align: center;
    font-size: large;
    padding-left: 25px;
    padding-right: 25px;
}
h2 {
    font-size: xx-large;
    text-align: center;
}
hr.main_content_bar {
    border: 2px solid black;
}
.default_image {
    border: black;
    border-style: groove;
    border-width: 5px;
    position: relative;
    left: 25%;
    right: 25%;
}
.project_table {
    width: 95%;
    table-layout: fixed;
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 10px;
}
.project_table tr {
    height: 3in;
}
.project_table tr:hover {
    background: #34548b45;
    outline: none;
    cursor: pointer;
}
.project_table tr:active {
    background: #5e46e685;
    outline: none;
    cursor: pointer;
}
.project_table td {
    padding: 20px;
    padding: 20px;
    /* border-bottom: solid black; */
    /* border-top: solid black; */
}
.project_table_image_col {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: inherit;
    width: 60%;
}
.project_table_desc_col {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.project_desc_content {
    font-size: medium;
}
.project_img {
    width: auto;
    height: auto;
    margin: auto;
    display: block;
    border-radius: 10px;
}

.topnav {
    background-color: #163363;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    align-content: center;
    z-index: 2;
}


.topnav a {
    float: inline-start;
    color: #f2f2f2;
    text-align: center;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-size: large;
    height: 100%;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #1b839e;
    color: white;
}

.canvas {
    position: absolute;
    left: 0%;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
}